*{
	padding: 0;
	margin: 0;
}
.container{
	width: 62.5rem;
	height: 37.5rem;
	background-color: #ffd9e6;
	margin: 0 auto;
	margin-top: 3%;
}
.left{
	width: 33%;
	height: 37.5rem;
	background-color: #cff0ec;
}
